<% layout('layouts/boilerplate') %>

<div class="container 100vw">
    <div class="row">
        <h1 class="text-center">Edit Shop</h1>
        <div class="col-md-6 offset-md-3">
    
            <form action="/shops/<%= shop._id %>?_method=PUT" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="name">Shop Name</label>
                    <input class="form-control" type="text" id="name" name="shop[name]" value="<%= shop.name %>" required>
                    <div class="valid-feedback">Right to go !!</div>
                </div>
    
                <div class="mb-3">
                    <label class="form-label" for="category">Category</label>
                    <select class="form-select" id="category" name="shop[category]" required>
                        <% categories.forEach(function(category) { %>
                        <option value="<%= category %>" <% if (category === shop.category) { %>selected<% } %>><%= category %></option>
                        <% }) %>
                    </select>
                    
                    <div class="valid-feedback">Right to go !!</div>
                </div>
    
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="shop[location]" value="<%= shop.location %>" required>
                    <div class="valid-feedback">Right to go !!</div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="shop[description]" required><%= shop.description %></textarea>
                    <div class="valid-feedback">Right to go !!</div>    
                </div>
                
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Add Images</label>
                    <input class="form-control" type="file"  name="images" id="formFileMultiple" multiple>
                    <div class="valid-feedback">Right to go !!</div>
                </div>
    
                <div class="mb-3">
                    <% shop.images.forEach((img, i) => { %>
                    <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                    </div>
                    <label for="image-<%= i %>">Delete</label>
                    <% }) %>
                </div>
    
                <div class="mb-3">
                    <button class="btn btn-info">Update Shop</button>
                </div>
            </form>
    
            <footer>
                <a href="/shops/<%= shop._id %>">Back To Shop</a>
            </footer>
        </div>
    </div>
</div>