<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>

<div class="row mt-5">
    <div class="col-7">
        <h1>All Shops</h1>
    </div>
    <div class="col-5">
        <form action="/shops" method="GET">
            <div class="row">
                <div class="col-9">
                    <div class="form-group">
                        <label for="categorySelect">Select a Shop Category:</label>
                        <select class="form-select" id="categorySelect" name="category">
                            <option value="">All categories</option>
                            <% categories.forEach(function(category) { %>
                            <option value="<%= category %>" <% if (category === selectedCategory) { %>selected<% } %>><%= category %></option>
                            <% }); %>
                        </select> 
                    </div>
                </div>
                <div class="col-3 pt-4">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/shops/new" class="btn btn-lg btn-outline-secondary fw-bold">Add Shops</a>
</div>

<% if (shops.length > 0) { %>
<ul>
    <% for (let shop of shops) {%>
        <div class="card mb-3 px-3 py-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(shop.images.length) { %>
                    <img crossorigin="anonymous" class="img-fluid rounded" src="<%= shop.images[0].url %>" alt="">
                    <% } else { %>
                    <img crossorigin="anonymous" class="img-fluid rounded" src="https://images.stockx.com/images/Gallery-Dept-Sun-Faded-English-Logo-Hoodie-Black.jpg?fit=fill&bg=FFFFFF&w=700&h=500&fm=webp&auto=compress&trim=color&q=90&dpr=2&updated_at=1660895550" alt="">
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= shop.name %></h5>
                        <p class="card-text"><%= shop.description %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= shop.category %></small>
                        </p>
                        <p class="card-text">
                            <small class="text-muted"><%= shop.location %></small>
                        </p>
                        <a href="/shops/<%= shop._id %>" class="btn btn-primary">View <%= shop.name %></a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</ul>
<% } else { %>
<p class="d-flex justify-content-center fw-bold fs-1"> No Shop found, Add your GO-TO shop !</p>
<% } %>

<script>
  const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
  const shops =  {features: <%- JSON.stringify(shops) %>};
</script>

<Script src="/javascripts/clusterMap.js"></Script>
<script src="/javascripts/index.js"></script>