<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">


<div class="row mb-3">

    <div class="col-6">

      <div id="shopImageCarousel" class="carousel slide carousel-fade">
        <div class="carousel-inner">
          <% shop.images.forEach((img, i) => { %>
            <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
              <img crossorigin="anonymous" src="<%= img.url %>" class="d-block w-100" alt="">
            </div>
          <% }) %>
        </div>

        <% if(shop.images.length > 1) { %>
        <button class="carousel-control-prev" type="button" data-bs-target="#shopImageCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#shopImageCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% } %>
      </div>

      <div class="card pt-3 px-3 mb-4 mt-4">
        <div class="card-body">
          <h5 class="card-title"><%= shop.name %></h5>
          <h6 class="card-text text-muted"><%= shop.category %> Shop</h6>
        </div>

        <div class="card-body">
          <p class="card-text"><%= shop.description %></p>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted">Location: <%= shop.location %></li>
        </ul>

        <div class="card-body">
          <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-outline-info" role="button" aria-disabled="true" href="/shops">All Shops</a>
                <% if (currentUser && shop.author.equals(currentUser._id)) {%>
                <a class="card-link btn btn-outline-secondary" href="/shops/<%= shop._id %>/edit">Edit</a>
            </div>
            <div>
                <form action="/shops/<%= shop._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-outline-danger">Delete</button>
                </form>
                <% } %>
            </div>
          </div>
        </div>

        <div class="card-footer text-muted">
          <p>Created by <%= shop.author.username %> on <%= shop.createdAt %></p>
        </div>
      </div>

    </div>

    <div class="col-6">

      <div id="map">
        <div id="map-menu">
        <!-- See a list of Mapbox-hosted public styles at -->
        <!-- https://docs.mapbox.com/api/maps/styles/#mapbox-styles -->
        <input class="btn-check" id="light-v11" type="radio" name="rtoggle" value="light" autocomplete="off" checked>
        <label class="btn btn-outline-secondary" for="light-v11">light</label>
        <input class="btn-check" id="dark-v11" type="radio" name="rtoggle" value="dark" autocomplete="off">
        <label class="btn btn-outline-secondary" for="dark-v11">dark</label>
        <input class="btn-check" id="streets-v12" type="radio" name="rtoggle" value="streets" autocomplete="off">
        <label class="btn btn-outline-secondary" for="streets-v12">streets</label>
        <input class="btn-check" id="outdoors-v12" type="radio" name="rtoggle" value="outdoors" autocomplete="off">
        <label class="btn btn-outline-secondary" for="outdoors-v12">outdoors</label>
      </div>
     </div>

      <% if (currentUser) {%>
      <h2 class="mb-3 mt-4">Leave a Review</h2>

          <form action="/shops/<%= shop._id %>/reviews" class="mb-3 validated-form" method="POST" novalidate>
            <fieldset class="starability-coinFlip mb-3">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>

            <div class="mb-3">
              <label class="form-label" for="body">Review</label>
              <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
              <div class="valid-feedback">Right to go !!</div>
            </div>

            <button class="btn btn-success mb-3">Submit</button>
          </form>
      <% } %>
          
          <h2 class="mb-3">Reviews</h2>

          <% for(let review of shop.reviews) {%>
          <div class="card mb-3">
            <div class="d-flex">
              <div class="p-2 flex-grow-1">
                <p class="starability-result" data-rating="<%= review.rating %>">
                  Rated: <%= review.rating %> stars
                </p>
                <h6 class="card-subtitle mb-2 text-muted">By <%= review.author.username %></h6>
                <p class="card-text">Review: <%= review.body %></p>
              </div>

              <% if (currentUser && review.author.equals(currentUser._id)) {%>
              <div class="p-2 align-self-end">
                <form action="/shops/<%= shop._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-sm btn-danger">Delete</button>
                </form>
              </div>
              <% } %>
            </div>
          </div>
          <% } %>
    </div>

</div>



<!-- handing infomation from server side to client browser side -->
<!-- OR using AJAX to send request after sending the code to the client -->
<!--  JavaScript code within the script block is interpreted by the browser's JavaScript engine, not by the EJS engine, cannot pass variable  -->
<script>
  const mapToken = '<%- process.env.MAPBOX_TOKEN %>'; // use  <%- %> to treat it as JS to make variable to pass the info from ejs to js
  const shop = <%- JSON.stringify(shop) %>; // recognized by the EJS engine and to include dynamic content in your JavaScript code
</script>

<!-- ejs only run html and ejs syntax in the its file, it will ignore the js & CSS, let the browser run the code so the js file should not have any dynamic content-->
<script src="/javascripts/showMap.js"></script> 